//здесь прописываем основные стили для проекта(незабывем разделять код комментариями для наглядности)
@import "bourbon"
@import "vars"
@import "libs"

/*=========================================
/*=            Section last-news          =
/*========================================*/

//сюда пишем стили
//кто пользуется sublime text, можно поставить плагин для создания таких комментариев(https://packagecontrol.io/packages/Comment-Snippets), только он не совсем корректно работает для Sass-->нужно экранировать каждую строчку коммента /*


/*=====  End of Section last-news  ======*/



@import "media"


/*=========================================
/*=            Section charity            =
/*========================================*/
.bg{	
	background-repeat: no-repeat;
	background-position: center center;
}

.charity{
	background-image: url(app/img/bg-charity.jpg);	
}

.meet-club{
	background-image: url(app/img/bg-meet-club.jpg);	
}
/*=====  End of Section charity  ======*/
