//здесь прописываем основные стили для проекта(незабывем разделять код комментариями для наглядности)
@import "bourbon"
@import "vars"
@import "libs"

/* Пример:
/*=========================================
/*=            Section last-news          =
/*========================================*/

//сюда пишем стили
//кто пользуется sublime text, можно поставить плагин для создания таких комментариев(https://packagecontrol.io/packages/Comment-Snippets), только он не совсем корректно работает для Sass-->нужно экранировать каждую строчку коммента /*


/*=====  End of Section last-news  ======*/




/*=========================================
/*=            Section charity            =
/*========================================*/
.charity
	background-image: url(/img/bg-charity.jpg)
	min-height: 430px

/*=====  End of Section charity  ======*/



/*=========================================
/*=            Section meet-club          =
/*========================================*/
.meet-club
	background-image: url(/img/bg-meet-club.jpg)
	min-height: 515px


/*=====  End of Section meet-club  ======*/










@import "media" //этот импорт должен в самом конце находиться


